/* Light mode */
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
}
header, h1{
    margin-left: 20px;
    margin-top: 20px;
}
header, #DarkModeBtn{
    margin-right: 30px;
}
hr{
    width: 500px;
}
#DarkModeBtn{
    background-color: transparent;
    border: none;
    font-size: 20px;
}
#errors{
    color: coral;
}
#board{
    width: 450px;
    height: 450px;
    cursor: pointer;

    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile .notes{
    font-size: 0.6rem;
    color: grey;
    text-align: center;
}
#undo{
    margin-bottom: 10px;
    background: transparent;
    border: none;
    font-weight: 900;
    font-size: 20px;
    justify-content: left;
}
#undo:hover{
    color: rgba(255, 128, 0, 0.575);
}
#notes {
    margin-bottom: 10px;
    background: transparent;
    border: none;
    font-weight: 900;
    font-size: 20px;
    justify-content: left;   
}
#notes:hover {
    color: rgba(255, 128, 0, 0.575);
}
#notes-label{
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
}
.undo-label{
    font-size: 12px;
    margin-top: 0;
    font-weight: 500;
}
#digits{
    width: 450px;
    height: 50px;
    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.number{
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num-count{
    position: absolute;
    font-size: 0.7em;
    color: rgb(15, 15, 15);
    margin-left: 25px;
    margin-top: 20px;
}

.number-selected {
    background-color: rgba(128, 128, 128, 0.368);
    border:1px solid rgba(255, 128, 0, 0.575);
}
.tile-start{
    background-color: whitesmoke;
}

.horizontal-line{
    border-bottom: 2px solid black;
}
.vertical-line{
    border-right: 2px solid black;
}
.highlight{
    background-color: /*rgb(224, 242, 67)*/rgba(255, 128, 0, 0.575);
}
.disabled{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
.correct-color{
    color: blue;
}
.wrong-color{
    color: red;
}

/* Dark mode */
.dark-mode {
    background-color: #121212;
}
.dark-mode hr {
    color: #444444;
}
.dark-mode header h1 {
    color: #E0E0E0;
}
.dark-mode #board {
    background-color: #1E1E1E;
}
.dark-mode .tile {
    color: #E0E0E0;
    border: 1px solid #333333;
}
.dark-mode .tile-start {
    background-color: #2c2c2ca7;
}
.dark-mode #digits {
    color: #BDBDBD;
}
.dark-mode .number {
    border: 1px solid #9E9E9E;
}
.dark-mode .number-selected {
    background-color: #1E1E1E;
    border-color: rgba(255, 128, 0, 0.575);
}
.dark-mode .num-count {
    color: #BDBDBD;
}
.dark-mode #undo {
    color: #B0BEC5;
}
.dark-mode #undo:hover{
    color: rgba(255, 128, 0, 0.575);
}
.dark-mode #notes {
    color: #B0BEC5;
}
.dark-mode #notes:hover {
    color: rgba(255, 128, 0, 0.575);
}
.dark-mode .horizontal-line {
    border-bottom: 2px solid white;
}
.dark-mode .vertical-line {
    border-right: 2px solid white;
}
.dark-mode .highlight {
    background-color: rgba(255, 128, 0, 0.575);
}
.dark-mode .error {
    color: #EF5350;
}
.dark-mode .correct-color{
    color: rgb(0, 255, 0);
}
.dark-mode .wrong-color{
    color: red;
}
